@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --color-bg: #4f4f4f97;
    --color-blue: #1e90ff;
    --color-text: #ffffff;
    --color-text-logo: #000000;
    /* --color-bg: #eef0f1; */
    /* --color-text: #08090a; */
    --color-blue: #3b49df;
    --color-red: #df3b3b;
    --color-green: #3bdf72;
    --color-gray: #b5bdc4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --color-text: #000000;
        --color-bg-logo: #ffffff;
        --color-text-logo: #000000;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.loader {
    border: 10px solid var(--color-bg);
    border-top: 10px solid var(--color-blue);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Buttons */
.btn,
button {
    background-color: var(--color-gray);
    border: none;
    color: var(--color-text);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0.5rem 1rem 0.5rem 0;
}

@media only screen and (max-width: 768px) {
    button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
}

button:hover {
    filter: brightness(90%);
}

button:disabled,
button[disabled] {
    filter: brightness(80%);
    cursor: not-allowed;
}

button.btn-blue {
    background-color: var(--color-blue);
    color: white;
}

button.btn-red {
    background-color: var(--color-red);
    color: white;
}

button.btn-green {
    background-color: var(--color-green);
    color: white;
}

button.btn-google {
    background-color: white;
    color: var(--color-text);
}

.btn-google img {
    width: 30px;
    margin-right: 10px;
}

button.btn-logo {
    background-color: var(--color-bg-logo);
    color: var(--color-text-logo);
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}
